.list{
    padding: 20px 60px;
    list-style: none;
   

}
.link{
    display: block;
    padding: 6px 20px;
    width: 500px;
    text-decoration: none;
    background-color: orangered;
    color: black;
    border: 2px solid orangered;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

}
.link:hover{
    transform: scale(1.01);
}
.item{
    margin-top: 5px;
}
